.Heading {
  display: flex;
  justify-content: center;
}

@keyframes greeting {
  from {
    color: #fff6da;
  }
  to {
    color: #042f4b;
  }
}

.Greeting {
  animation-name: greeting;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

.Greeting {
  font-size: 4em;
}

@keyframes weekday {
  from {
    position: absolute;
    float: right;
  }
  to {
    position: fixed;
    float: left;
  }
}

/* .Weekday {
  color: #ed1250;
  animation-name: weekday;
  animation-duration: 3s;
} */
